
<div id="user-<%= user.id %>" class="bloggers-card-name" data-user= <%= user.id %> >
  <h2><%= user.pseudo.capitalize %></h2>
  <% if current_user.is_following?(user.id) %>
     <%= link_to "Unfollow", unfollow_path(user.id), class: "follow-link", method: :post, remote: true %>
  <% else %>
    <%= link_to "Follow", follow_path(user.id), class: "follow-link", method: :post, remote: true%>
  <% end %>
</div>


