<div id="user-<%= user.id %>" class="bloggers-card grey" data-user= <%= user.id %>>
<!-- l'id est pour l'ancre de la page show article, le data user pr selection ds follow.js.erb -->
  <div  class="bloggers-card-name"  >
    <h2><%= user.pseudo.capitalize %></h2>
    <% if current_user.is_following?(user.id) %>
       <%= link_to "Unfollow", unfollow_path(user.id), class: "follow-link", method: :post, remote: true %>
    <% else %>
      <%= link_to "Follow", follow_path(user.id), class: "follow-link", method: :post, remote: true%>
    <% end %>
  </div>
  <div class="bloggers-card-articles">
    <h3>Most popular articles :</h3>
    <% user.articles.popular.each do |article| %>
      <%= link_to article_path(article) do %>
        <%= article.title %>
      <% end %>
    <% end %>
  </div>
</div>


